<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="color:#004d40">Inventory</h1>
    <a href="/add"><button>Add New Item</button></a>
    <table border="1">
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        {% for item in inventory %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>
                <a href="/update/{{ item[0] }}"><button>Update</button></a>
                <a href="/delete/{{ item[0] }}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>